
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* base */
:root {
    --color-primary: #1e2a17;
    --color-white: white;
    --color-gray: #3f3f3f;
    --color-light-gray: #c3cdd3;
    --color-green: #314326;
    --color-custom: #5c913b;
    --navbar-toggler-icon: url(imagens/menuIcon.png);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 0%;
    padding: 0%; 
    scroll-behavior: smooth;

}

main {
    margin-top: 5.7rem;
    position: relative;
    display: inline-block;
}

header {
    padding: 0.75rem 6.5rem;
}

section {
    justify-content: center;
}

section:first-child {
    margin-top: 3.5rem;
}

a {
    text-decoration: none;
    color: var(--color-gray);
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-gray);
    margin-bottom: 2rem;
}

#about,
#service,
#contact,
#urnas {
    padding: 3rem 8rem;
    width: 100%;
}

/* navigation */
#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--color-primary);
    box-shadow: 0 0 1rem var(--color-gray);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav img{
    height: min-content;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header div {
    list-style: none;
    display: inline;
    margin: 0 1rem;
    font-size: 1.15rem;
    font-weight: 400;
}

.menu a {
    color: var(--color-light-gray);
    margin: 1rem;
}

/* home */
.show img {
    max-width: 100%;
    height: auto;
}

.show img {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.imgFundo {
    z-index: -2;
}

.banner {
    padding: 10rem 8rem;
}

.banner h1, 
.banner h2 {
    margin-bottom: 2rem;
}

.titleShow {
    color: var(--color-white);
    font-size: 3rem; /* Added font-size property */
    font-weight: 700;
    text-shadow: 0 0 0.5rem var(--color-gray);
}

.subtittleShow {
    color: var(--color-white);
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 0 0 0.5rem var(--color-gray);
}

.subtittleShow2 {
    color: var(--color-green);
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 0 0 0.5rem rgba(241, 241, 241, 0.75);
}

.show .btn {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.5vw;
    height: 8.5vh;
    color: #00A859;
    box-shadow: 0 0 1rem rgba(122, 122, 122, 0.75);
    border-radius: 25rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.show .btn img {
    position: relative;
    z-index: 0;
    height: 2.25rem;
    margin-right: 0.5rem;
}

/* about */
.about {
    display: flex;
    justify-content: space-between;
    color: var(--color-gray);
    line-height: 1.5em;
}

.about div {
    justify-content: space-between;
}

.about img {
    width: 110%;
}

/* services */
.servicos p {
    font-size: 1.1rem;
    line-height: 1.2em;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.servicos h3 {
    font-size: 1.1rem;
    color: var(--color-custom);
    font-weight: 500;
}

.servicos {
    display: flex;
    justify-content: space-around;
    min-height: 300px ;
    color: var(--color-white);
}

.card-service {
    margin: 0 0.5rem;
    padding: 0.5rem;
    display: grid;
}

.servicos li:first-child {
    margin: 0 0.5rem 0 0;
}

.servicos li:last-child {
    margin: 0 0 0 0.5rem;
}

.card-service div {
    width: 100%;
    max-width: 30rem;
    margin-bottom: 0.5rem;
    height: fit-content;
    display: grid;
}

.card-service div:last-child {
    height: 100%;
}

.card-service div div {
    justify-content: start;
}

.card-service img {
    margin-bottom: 1rem;
    width:10rem;
    height: auto;
}

.card-service a {
    font-size: 0.9rem;
    align-self: end;
}

.locationInfo {
    color: white;
    background-color: var(--color-custom);
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 1.2rem;
}

.locationInfo p {
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}

.locationInfo p:first-child {
    font-size: 1.5rem
}

.locationInfo p:last-child {
    font-weight: 300;
}

/* contact */
.contact {
    display: flex;
    justify-content: space-between;
    color: var(--color-primary);
}

.contact p {
    font-size: 1.1rem;
    line-height: 1.2em;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.contact h4 {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-gray);
    margin-bottom: 2rem;
}

.contact .row {
    width: 100%;
}

.contact .btn {
    color: var(--color-white);
    background-color: var(--color-green);
}

.contact button.btn:hover {
    background-color: var(--color-custom);
}

/* catálogo */
.exposition .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exposition .card {
    border-radius: 1rem;
    margin: 1rem;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5rem 3.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    line-height: 1.5em;
}

footer h4 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

@media(max-width: 1200px) {    
    /* navigation */
    nav img{
        width: 85%;
    }
    
    .header div {
        list-style: none;
        display: inline;
        margin: 0 0.8rem;
        font-size: 1.1rem;
        font-weight: 400;
    }
    
    .menu a {
        color: var(--color-light-gray);
        margin: 0.8rem;
    }
    
    /* home */
    .show .btn {
        width: 13.5vw;
        height: 8.5vh;
        font-size: 1.2rem;
    }

    .show .btn img {
        height: 2.15rem;
        margin-right: 0.5rem;
    }

    /* about */
    .about p {
        font-size: 1.1rem;
    }
}

@media(max-width: 992px) {
    /* navigation */
    .navbar-toggler {
        border: none;
        transition: 0.2s;
    }

    .navbar-toggler:focus {
        box-shadow: none;
        border: 1px solid white;
        transition: 0.2s;
    }

    .navbar-toggler-icon {
        background-image: var(--navbar-toggler-icon);
    }

    .header {
        justify-content: center;
    }

    .header div {
        display: flex;
        align-items: center;
    }

    /* home */
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .show .btn {
        width: 17.5vw;
        height: 8.5vh;
        font-size: 1.2rem;
    }

    .show .btn img {
        height: 2.15rem;
        margin-right: 0.5rem;
    }
}

@media(max-width: 850px) {
    /* home */
    .show .btn {
        width: 20vw;
    }
}

@media(max-width: 768px) {
    /* home */
    .show .btn {
        width: 24vw;
        height: 8.5vh;
        font-size: 1.3rem;
    }

    /* about */
    .about div {
        margin: 0 !important;
    }

    .about p {
        font-size: 1.3rem;
    }

    /* contact */
    .contact p,
    .contact label {
        font-size: 1.2rem;
    }
}

@media(max-width: 700px) {
    #about,
    #service,
    #contact,
    #urnas {
        padding: 3rem 4rem;
    }

    /* header */
    #header {
        padding: 0.5rem 2rem;
    }

    /* home */
    .banner {
        padding: 4rem 6rem;
    }
    
    .titleShow {
        font-size: 2.75rem;
    }

    .banner h1,
    .banner h2 {
        margin-bottom: 1.5rem;
    }

    .show .btn {
        width: 65%;
    }

    /* about */
    #about .row div:last-child {
        display: none !important;
    }

    #about .row div:first-child {
        width: 100%;
    }

    /* services */
    .servicos {
        flex-direction: column;
    }

    .card-service {
        display: flex;
    }

    .card-service div:first-child {
        width: fit-content;
        margin-right: 2rem;
    }

    .servicos li {
        margin: 1rem 0;
    }
    
    .servicos li:first-child {
        margin-top: 0;
    }
    
    .servicos li:last-child {
        margin: 0;
    }

    /* contact */
    .contact .row {
        flex-direction: column-reverse;
    }

    .forms,
    .location {
        width: 100%;
    }

    .location iframe {
        width: 100%;
    }

    .forms div:first-child {
        margin-top: 2rem;
    }

    /* footer */
    .footer {
        flex-direction: column;
        padding: 4rem;
    }

    .footer div:first-child {
        display: none;
    }

    .footer div:last-child {
        margin-top: 3rem;
    }
}